.tile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}
#individual {
  display: flex;
  flex-direction: column;
}