
/* main app */
body {
  background-color: #faf9f8;
  font-family: 'Nunito Sans', sans-serif;
}
/* overview */
.overview-widget {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 80%;
  margin: 0px 0px;
  margin-top: 5%;
}
.basic-info-container {
  display: flex;
  padding: 5%;
  flex-direction: column;
  justify-content: space-around;
  min-width: 30%;
}
.sale-price {
  color: rgb(181, 2, 2);
}
.see-reviews {
  margin-bottom: 20px;
}
.size-select {
  width: 120px;
  height: 40px;
  border-radius: 2px;
}
.quantity-select {
  width: 80px;
  height: 40px;
  border-radius: 2px;
}
.add-to-bag {
  background-color: #ffffff;
  width: 140px;
  height: 40px;
}
.add-to-outfit {
  background-color: #ffffff;
  width: 60px;
  height: 40px;
}
.product-details {
  background-color: #ffffff;
  margin-bottom: 70px;
  margin-left: 6%;
  display: block;
  width: 40%;
}
.thumbnail-div {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px rgba(0, 0, 0, 0.156) solid;
}
.style-thumbnails {
  width: auto;
  height: auto;
  cursor: pointer;
  min-width: 200px;
}
.image-gallery {
  display: flex;
  margin-left: 20%;
  flex-direction: column;
  min-width: 65%;
  max-width: 100px;
  min-height: 400px;}
.main-image {
  cursor: zoom-in;
}
.thumbnail-selector {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 5%;
  margin: 1% 0px 10% 3%;
}
.gallery-thumbnail {
  width: 100%;
  margin-bottom: 30%;
  cursor: pointer;
  border-right: 2px solid rgba(0, 0, 0, 0.358);
  border-bottom: 2px solid rgba(0, 0, 0, 0.358);
  border-radius: 2px;
}
.carousel-left-arrow {
  position: absolute;
  left: 4%;
  cursor: pointer;
}
.carousel-right-arrow {
  position: absolute;
  right: 40%;
  cursor: pointer;
}

/* Adam */
.rar_section {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 22.5%;
  gap: 50px;
}
.rar_ratingBox {
  display: flex;
  flex-direction: column;
}
.rar_reviewData {
  text-align: center;
}
#starRow {
  text-decoration: underline;
}
#rar_numAndStars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 4%;
}

#rar_bigNum {
  font-weight: bolder;
  font-size: 200%;
}
.rar_tileBox {
  display: flex;
  flex-direction: column;
}
.rar_tile {
  display:flex;
  margin-top: 4%;
  border-bottom: 2px solid grey;
  flex-direction: column;
  width: 125%;
}
.rar_ratingData {
  display: flex;
  flex-direction: column;
}
#rar_userDateHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rar_pics {
  display:flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 5%;
}
.rar_thumbs {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  width: 75px;
}
.rar_reviewButtons {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  gap: 20px;
}
#reviewSelector {
  text-decoration: underline;
  border: none;
  font-size: 110%;
  font-weight: bold;
}
meter::-webkit-meter-bar {
  background: none;
  background: lightgrey;
}
meter::-webkit-meter-optimum-value {
  background-image: linear-gradient(90deg, #5c5c5c 50%, #5c5c5c 100%);
}
/* Other */

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 5px;
  float: right;
  padding: 0;
}
.question-entry {
  border: 2px solid grey;
  margin: 10px;
  padding: 5px;
}
.answer {
  border: 1px solid grey;
  margin: 5px;
}
.answer-spans {
  margin: 8px;
}
.answer-body {
  margin: 8px;
}

.question-searchbar {
  width: 90%;
}
